* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f2f2f2;
}

header {
    background: white;
    text-align: center;
}

header a {
    text-decoration: none;
    outline: none;
    display: block;
    transition: .3s ease-in-out;
}

.logo {
    color: #D5B45B;
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    padding: 20px 0;
}

nav {
    display: table;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu:after {
    content: "";
    display: table;
    clear: both;
}

.topmenu > li {
    width: 25%;
    float: left;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.topmenu > li > a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #404040;
    padding: 15px 30px;
}

.topmenu li a:hover {
    color: #D5B45B;
}

.submenu-link:after {
    /*content: "\f107";*/
    font-family: "FontAwesome", serif;
    color: inherit;
    margin-left: 10px;
}

.submenu {
    background: #00ffff; /*#273037*/
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 180px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
}

.submenu a {
    color: #404040;
    text-align: left;
    padding: 12px 15px;
    font-size: 13px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.submenu li:last-child a {
    border-bottom: none;
}

.topmenu > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
}