.overlay-loader {
    display: block;
    margin: auto;
    width: 588px;
    height: 588px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 588px;
    height: 588px;
    animation-name: rotateAnim;
    -o-animation-name: rotateAnim;
    -ms-animation-name: rotateAnim;
    -webkit-animation-name: rotateAnim;
    -moz-animation-name: rotateAnim;
    animation-duration: 1.4s;
    -o-animation-duration: 1.4s;
    -ms-animation-duration: 1.4s;
    -webkit-animation-duration: 1.4s;
    -moz-animation-duration: 1.4s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.loader div {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 6px solid rgb(0, 0, 0);
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.loader div:nth-child(odd) {
    border-top: none;
    border-left: none;
}

.loader div:nth-child(even) {
    border-bottom: none;
    border-right: none;
}

.loader div:nth-child(2) {
    border-width: 12px;
    left: 0px;
    top: -24px;
    width: 71px;
    height: 71px;
}

.loader div:nth-child(3) {
    border-width: 12px;
    left: -6px;
    top: 18px;
    width: 106px;
    height: 106px;
}

.loader div:nth-child(4) {
    border-width: 18px;
    left: -6px;
    top: -24px;
    width: 141px;
    height: 141px;
}

.loader div:nth-child(5) {
    border-width: 18px;
    left: -6px;
    top: 24px;
    width: 188px;
    height: 188px;
}

.loader div:nth-child(6) {
    border-width: 24px;
    left: 0px;
    top: -24px;
    width: 235px;
    height: 235px;
}

.loader div:nth-child(7) {
    border-width: 24px;
    left: 0px;
    top: 35px;
    width: 294px;
    height: 294px;
}


@keyframes rotateAnim {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@-o-keyframes rotateAnim {
    from {
        -o-transform: rotate(360deg);
    }
    to {
        -o-transform: rotate(0deg);
    }
}

@-ms-keyframes rotateAnim {
    from {
        -ms-transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0deg);
    }
}

@-webkit-keyframes rotateAnim {
    from {
        -webkit-transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes rotateAnim {
    from {
        -moz-transform: rotate(360deg);
    }
    to {
        -moz-transform: rotate(0deg);
    }
}