#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

/*#okno {*/
/*width: 300px;*/
/*height: 50px;*/
/*text-align: center;*/
/*padding: 15px;*/
/*border: 3px solid #0000cc;*/
/*border-radius: 10px;*/
/*color: #0000cc;*/
/*position: absolute;*/
/*top: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*left: 0;*/
/*margin: auto;*/
/*background: #fff;*/
/*}*/

#zatemnenie:target {
    display: block;
}

/*.close:hover {*/
/*background: #e6e6ff;*/
/*}*/